
<!--
<div class="container-fluid" style="height:10%">
    <div id="logo" class="col-xs-offset-4 col-xs-4" ng-hide="load" style="height:100%;"></div>
</div>
-->

<div class="container-fluid" style="height:80%">

    <div class="col-md-12 container-fluid" ng-hide="load" style="height:90%;">
        <form ng-controller="CityController" class="form-horizontal" role="form" name="cityForm"  style="height:100%;border:0;padding-top:10%" novalidate>
            <div style="height:auto">

                <div class="form-group">
                    <label class="hidden-xs hidden-sm control-label col-sm-2" for="city" style="color:white">Select City:</label>
                    <label class="hidden-md hidden-lg control-label col-sm-2" for="city" style="color:white">Select City:</label>
                    <div class="col-sm-10">
                        <select id="city" class="form-control input-lg hidden-xs hidden-sm" name="city" ng-model="sel_city">
                            <option value="Bologna">Bologna</option>
                            <option value="Ferrara">Ferrara</option>
                            <option value="Modena">Modena</option>
                            <option value="Parma">Parma</option>
                            <option value="ReggioEmilia">Reggio Emilia</option>
                        </select>
                        <select id="city" class="form-control input-md hidden-md hidden-lg" name="city" ng-model="sel_city">
                            <option value="Bologna">Bologna</option>
                            <option value="Ferrara">Ferrara</option>
                            <option value="Modena">Modena</option>
                            <option value="Parma">Parma</option>
                            <option value="ReggioEmilia">Reggio Emilia</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="hidden-xs hidden-sm col-md-offset-2 col-md-10">
                    <button class="btn btn-success btn-lg" type="submit" ng-click="go(sel_city)" style="color:white;opacity:1"><b>Go!</b></button>
                </div>
                <div class="hidden-md hidden-lg col-xs-12">
                    <button class="btn btn-success btn-md" type="submit" ng-click="go(sel_city)" style="color:white;opacity:1"><b>Go!</b></button>
                </div>
            </div>
        </form>

    </div>

</div>
