<header class="bs-header text-center" id="overview" style="height:auto">
    <div class="container" style="text-align:center;margin-bottom:1em;">
      <h3 id="app-heading">{{view_name == null ? '' : view_name}}</h3>
    </div>
</header>
<div class="container-fluid" style="height:85%">
<div class="col-md-12" ng-hide="!load">
  <p class="loadingText"  align="center">
    Computing Visiting Plan according to your Crowding Preferences<br/><i class="fa fa-refresh fa-spin"></i>
  </p>
</div>
<div class="container-fluid" ng-hide="load" style="height:90%;padding-top:0%">
  <div ng-hide="!invalid" style="height:85%">
    <h3 id="error">{{error_title}}</h3>
  </div>
<div class="row" style="height:100%" ng-hide="invalid">
  <div class="col-md-12"  style="height:100%;">
    <leaflet id="map" ng-if="ready" defaults="defaults" center="center" geojson="geojson" markers="markers" height="100%" width="100%"></leaflet>
  </div>

</div>
</div>
<div class="col-md-12 container" style="height:auto;padding-top:5%">
  <button type="button" class="btn btn-info btn-lg hidden-xs hidden-sm" ng-click="go_visit()">Visit</button>
  <button type="button" class="btn btn-info btn-md hidden-md hidden-lg" ng-click="go_visit()">Visit</button>
</div>

</div>
