<header class="bs-header text-center" id="overview" style="height:auto">
    <div class="container" style="text-align:center;margin-bottom: 1em;">
      <h3 id="app-heading">{{view_name == null ? '' : 'Select the '+view_name+' you want to visit'}}</h3>
    </div>
</header>
<div class="container-fluid" style="height:80%;">
  <div class="container-fluid row" style="height:auto;">
    <div class="col-xs-12" >
      <input type="text" id="iconified" class="form-control iconplace input-lg hidden-xs hidden-sm" ng-model="searchActivities" placeholder="&#xF002;">
      <input type="text" id="iconified" class="form-control iconplace input-md hidden-md hidden-lg" ng-model="searchActivities" placeholder="&#xF002;">
  </div>
</div>
<div class="container-fluid row" style="height:75%;padding-top:5%;" >
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:100%;overflow-y:auto;">
    <div class="list-group">
      <a ng-class="{'list-group-item-info': isSelected(item.place_id)}" href="" ng-show="item.match || (item.match == undefined)" ng-attr-id="{{item.place_id}}" ng-repeat="item in items" class="list-group-item" ng-click="selectPOI(item.place_id, item.category)" style="color:084265;font-weight:bold;">
        {{(item.display_name.split(',')[0].length>25) ?
          item.display_name.split(',')[0].substring(0,25).trim()+"."
          :
          item.display_name.split(',')[0]
        }}
      <rating class="pull-right" state-on="'fa fa-user'" style="color: #ff9600;" value="item.rating" max="item.rating" readonly="true"></rating>
      </a>
  </div>
</div>
</div>
<div class="container-fluid row" style="height:auto;padding-top:5%;">
<div class="col-xs-3">
  <button type="button" class="btn btn-info btn-lg hidden-xs hidden-sm" ng-click="go_home()">Back</button>
  <button type="button" class="btn btn-info btn-md hidden-md hidden-lg" ng-click="go_home()">Back</button>
</div>
<div class="col-xs-9">
  <small> <rating state-on="'fa fa-user'" style="color: #ff9600;" value="5" max="5" readonly="true"></rating> shows popularity of the {{view_name}} according to the <i>SocialPulse</i> dataset.</small>
</div>
</div>
</div>
